* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 63%);
}

.high-scores-button {
  font-size: 16px;
  height: 30px;
  line-height: 8px;
  margin-top: 0px;
}
.abutton {
min-width: 150px;
min-height: 50px;
}
.reset-button {
  font-size: 16px;
  height: 30px;
  line-height: 8px;
  margin-top: 20px;
}

button {
  background: radial-gradient(circle, rgb(140, 188, 240) 0%, rgba(33, 138, 187, 0.954) 100%);
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 500px;
  padding: 5px 5px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  min-width: 150px;
min-height: 50px;
}

header {
  display: flex;
  flex-direction: row-reverse; 
  padding: 5px;
  text-align: right;
  background: white;
  color: black
  border-bottom:30px #879274;
}

main {
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

section {
  flex: 0 auto;
  padding: 5px;
  margin-top: 5px;
  background-color: white;
  border-radius: 8px;
  text-align: center; 
}


.word-blanks {
  line-height: 360px;
}

.large-font {
  font-size: 3.5em;
  text-align:center;
}
.med-font {
  font-size: 1.5em;
  text-align:center;
}
.timer {
 display: inline; 
  height: 150px;
  padding: 0px;
  background: #13293d;
  color: #fff;
  text-align: center;
}

.timer-text {
  padding: 5px;

}
.timer-count {
  padding: 5px;
  float: right;
}

@media screen and (max-width: 1183px) {
  main {
    flex-direction: column;
  }

  .word-guess,
  .results {
    width: 90vw;
  }

  section {
    background-color: white;
    margin: 20px auto;
    width: 92vw;
  }
}

@media screen and (max-width: 504px) {
  .large-font {
    font-size: 2em;
  }

  .reset-button {
    font-size: 12px;
    width: 20ox;
    
  }

  .timer {
    height: 200px;
  }
 
